@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
:root {
  --color-pri: #00838d;
  --color-sec: #f2f8f9;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  color: var(--color-pri);
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #102a43;
  color: #999;
}
.character_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.8rem;
  padding: 1.4rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.character_grid figure {
  text-align: center;
  height: 16rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  position: relative;
  width: 100%;
  background-color: var(--color-sec);
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.character_grid figure:hover {
  border: 1px solid var(--color-pri);
}

.character_grid figure:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: var(--color-pri);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.character_grid figure:hover:before {
  transform: scale(28);
}
.character_grid2.character_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 37rem;
  max-width: 100%;
  margin: auto;
  padding: 0;
  box-sizing: content-box;
}
.character_grid2 figure:hover:before {
  transform: scale(46) !important;
}

.character_grid2 figure:hover {
  color: #ffffff !important;
}
.character_grid figure:hover .username {
  transition: all 0.3s ease-out;
  color: #ffffff;
}
.character-img {
  max-width: 100%;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}
.username {
  font-weight: 800;
  font-size: 1.4rem;
  color: var(--color-pri);
  margin: 0.5rem;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--color-pri);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.back {
  cursor: pointer;
  user-select: none;
}
.theme-btn {
  float: right;
  margin: 1.4rem 1.4rem 0;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  padding: 1.4rem 1.4rem 0;
}
.searchTerm {
  width: 100%;
  height: 37px;
  border: 3px solid var(--color-pri);
  padding: 5px;
  padding-left: 14px;
  border-radius: 5px;
  outline: none;
}
.searchTerm:focus {
  color: var(--color-pri);
}
